<p id="notice"><%= notice %></p>

<div class="row">
  <!-- Blog article Content Column -->
  <div class="col-lg-8">
    <% @articles.each do |article| %>
      <!-- Blog article -->
      
      <!-- Title -->
      <h4 style="font-size: 45.5px;">
        <%= link_to article.title, article %>
      </h4>
      
      <!-- Date / Time -->
      <p>
        <span class="glyphicon glyphicon-time"></span>
      </p>
      
      <!-- Authro -->
      <p>
        Article By: <strong><%= article.user.username %></strong>
      </p>
      
      <hr>
      
      <!-- articleed Comments -->
      
      <!-- comment -->
    <% end %>
    
    <%= link_to "New article", new_article_path, class: "btn btn-default btn-xs" %>
  </div>
  
  <!-- Blog Sidebar Widgets Column -->
  <div class="col-md-4">
    <div class="well"
  </div>
</div>


<br>

<%= link_to 'New Article', new_article_path %>
